In [1]:
# Importar librerías
import numpy as np
import pandas as pd

![alt text](Analisis_de_angulos_perro.png "Title")

In [2]:
df_dog_pose = pd.read_csv('df_dog.csv')
df_dog_pose.head()

,class,x1,y1,z1,v1,x2,y2,z2,v2,x3,...,z31,v31,x32,y32,z32,v32,x33,y33,z33,v33
0,dog,0.512896,0.724975,-0.071331,0.999109,0.495952,0.749713,-0.110919,0.999537,0.492633,...,0.353380,0.570210,0.788107,0.920939,-0.256980,0.981881,0.772984,0.905417,0.246865,0.579499
1,dog,0.569444,0.789217,-0.041041,0.999671,0.583342,0.796254,-0.021238,0.999701,0.584254,...,-0.149578,0.996221,0.250158,0.901745,0.058785,0.634102,0.240048,0.908514,-0.278571,0.992315
2,dog,0.610324,0.732104,-0.026444,0.999750,0.629547,0.737078,0.000089,0.999749,0.631231,...,-0.155364,0.996453,0.208974,0.905181,0.202744,0.652574,0.199780,0.922274,-0.328662,0.993149
3,dog,0.540265,0.759002,-0.096901,0.999915,0.559583,0.769787,-0.074398,0.999908,0.562478,...,-0.025961,0.997638,0.274717,0.880624,0.287789,0.826800,0.263654,0.886176,-0.187934,0.995887
4,dog,0.359696,0.702950,-0.032683,0.997421,0.339307,0.713524,-0.075955,0.998482,0.336422,...,0.354433,0.466566,0.753556,0.941679,-0.295486,0.976389,0.726990,0.923031,0.259366,0.474102

![Alt text](https://camo.githubusercontent.com/7fbec98ddbc1dc4186852d1c29487efd7b1eb820c8b6ef34e113fcde40746be2/68747470733a2f2f6d65646961706970652e6465762f696d616765732f6d6f62696c652f706f73655f747261636b696e675f66756c6c5f626f64795f6c616e646d61726b732e706e67)

In [3]:
#Funtion for calculating the angles
def calculate_angle_coord(p_cood_list):
    a = np.array(p_cood_list[0]) # First
    b = np.array(p_cood_list[1]) # Mid
    c = np.array(p_cood_list[2]) # End
    
    radians = np.arctan2(c[1]-b[1], c[0]-b[0]) - np.arctan2(a[1]-b[1], a[0]-b[0])
    angle = np.abs(radians*180.0/np.pi)
    
    if angle >180.0:
        angle = 360-angle
        
    return angle

In [28]:
#Funtion to calculate the angles of the dataset

def angles_df(points, df, visibility):

    ang_points_coord= [[j+str(i)  for j in ['x', 'y', 'v']] for i in points]

    angle = []

    for j in range(df.shape[0]):
        l = []
        for i in ang_points_coord:
            if df[i[2]][j] > visibility:
                corr = (df[i[0]][j], df[i[1]][j])
                l.append(corr)
        if len(l) == 3:
            angle.append(int(calculate_angle_coord(l)))
    
    return angle

### body right side

In [6]:
right_side_point = [12,14,16,18,20,22,24,26,28,30,32]
coords = ['x', 'y', 'z', 'v']
right_side_columns = [j+str(i) for i in right_side_point for j in coords]
df_right_side = df_dog_pose[right_side_columns]
df_right_side.head()

,x12,y12,z12,v12,x14,y14,z14,v14,x16,y16,...,z28,v28,x30,y30,z30,v30,x32,y32,z32,v32
0,0.455491,0.603953,-0.289343,0.998829,0.368720,0.789272,-0.549833,0.993484,0.252996,0.926591,...,-0.079683,0.988426,0.900116,0.895149,-0.085755,0.989212,0.788107,0.920939,-0.256980,0.981881
1,0.586840,0.649776,0.166872,0.996570,0.657038,0.775128,0.241774,0.147539,0.753068,0.854771,...,0.158137,0.334020,0.158217,0.861814,0.151882,0.512355,0.250158,0.901745,0.058785,0.634102
2,0.634836,0.584585,0.282549,0.998323,0.712085,0.722389,0.434288,0.207886,0.810699,0.843618,...,0.333245,0.367557,0.071080,0.863012,0.330343,0.564637,0.208974,0.905181,0.202744,0.652574
3,0.601318,0.619977,0.161089,0.998575,0.695218,0.761878,0.296038,0.213816,0.788614,0.855731,...,0.398926,0.503645,0.177886,0.832006,0.403812,0.689513,0.274717,0.880624,0.287789,0.826800
4,0.325892,0.537959,-0.292280,0.997922,0.241241,0.744506,-0.558735,0.990279,0.139085,0.894423,...,-0.125172,0.983177,0.883463,0.870470,-0.130537,0.983838,0.753556,0.941679,-0.295486,0.976389

In [25]:
ang1_points_r  = [12,24,26]
ang2_points_r  = [24,26,28]
ang3_points_r  = [24,12,14]
ang4_points_r  = [12,14,16]

In [31]:
visibility_rigth = 0.97

In [32]:
ang1_r = pd.DataFrame({'ang1':angles_df(ang1_points_r, df_dog_pose, visibility_rigth)})
ang1_r.describe()

             ang1
count  560.000000
mean    58.019643
std     12.542078
min     37.000000
25%     50.000000
50%     55.500000
75%     64.000000
max    176.000000

In [33]:
ang2_r = pd.DataFrame({'ang2':angles_df(ang2_points_r, df_dog_pose, visibility_rigth)})
ang2_r.describe()

             ang2
count  520.000000
mean   165.969231
std     15.139780
min     56.000000
25%    151.000000
50%    174.000000
75%    178.000000
max    179.000000

In [34]:
ang3_r = pd.DataFrame({'ang3':angles_df(ang3_points_r, df_dog_pose, visibility_rigth)})
ang3_r.describe()

             ang3
count  679.000000
mean   168.951399
std     11.918194
min     55.000000
25%    169.000000
50%    172.000000
75%    175.000000
max    179.000000

In [35]:
ang4_r = pd.DataFrame({'ang4':angles_df(ang4_points_r, df_dog_pose, visibility_rigth)})
ang4_r.describe()

             ang4
count  631.000000
mean   170.041204
std      6.189203
min    128.000000
25%    169.000000
50%    171.000000
75%    173.000000
max    179.000000

### body left side

In [36]:
ang1_points_l  = [15,23,11]
ang2_points_l  = [23,25,27]
ang3_points_l  = [23,11,13]
ang4_points_l  = [11,13,15]

In [37]:
visibility_left = 0.5

In [38]:
ang1_l = pd.DataFrame({'ang1_l':angles_df(ang1_points_l, df_dog_pose, visibility_left)})
ang1_l.describe()

            ang1_l
count  1035.000000
mean     17.700483
std      10.268784
min       0.000000
25%      10.000000
50%      19.000000
75%      24.000000
max      78.000000

In [39]:
ang2_l = pd.DataFrame({'ang2_l':angles_df(ang2_points_l, df_dog_pose, visibility_left)})
ang2_l.describe()

           ang2_l
count  386.000000
mean    44.215026
std     26.344725
min      0.000000
25%     25.000000
50%     44.000000
75%     57.000000
max    170.000000

In [40]:
ang3_l = pd.DataFrame({'ang3_l':angles_df(ang3_points_l, df_dog_pose, visibility_left)})
ang3_l.describe()

            ang3_l
count  1424.000000
mean    114.136236
std      26.929929
min       0.000000
25%      96.000000
50%     111.000000
75%     128.250000
max     179.000000

In [41]:
ang4_l = pd.DataFrame({'ang4_l':angles_df(ang4_points_l, df_dog_pose, visibility_left)})
ang4_l.describe()

            ang4_l
count  1064.000000
mean     46.736842
std      21.087336
min       0.000000
25%      35.000000
50%      49.000000
75%      60.000000
max     173.000000

In [42]:
results = pd.DataFrame({'ang1' : (int(ang1_r.mean()), int(ang1_l.mean())), 'ang2' : (int(ang2_r.mean()), int(ang2_l.mean())), 
                        'ang3' : (int(ang3_r.mean()), int(ang3_l.mean())),'ang4' : (int(ang4_r.mean()), int(ang4_l.mean()))},
                        index=['right', 'left'])
results

       ang1  ang2  ang3  ang4
right    58   165   168   170
left     17    44   114    46